@import url(https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap);
html{
    font-family:"Share Tech Mono", monospace;
    font-size: 12px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #e7e7e7;
    background-color: rgba(10, 17, 17, 1);


}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: rgb(3, 155, 155);
}
ul{
    list-style: none;
}
p{
    font-size: 1.4rem;
}
img{
    width:100%;
    max-width: 100%; 
    height: auto;
       
}

/* header */
header{
    width: 100%;
    height:5rem;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    
}
.container{
    width:100%;
    max-width: 100%;
    margin:0 auto;
    padding: 0 1.5rem; 
}
.logo{
    width: 18rem;
}
.menu-pic{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: block;
    margin: 1.5rem 0;
}

nav{
    justify-content:space-between;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px solid rgb(155, 155, 155, .2);
}
.chant{
    margin-left: auto;
    margin-right: auto;
    
}
.line1{
    width: 15px;
    height: 3px;
    margin: 5px 0;
    margin-left: 15px;
    background: linear-gradient(
        135deg, rgba(249,105,14,1) 0%, rgb(255,255,255) 100%
    );
}
.line2{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    margin-left: 0px;
    background: linear-gradient(
        135deg, rgba(249,105,14,1) 0%, rgb(255,255,255) 100%
    );
}
.line3{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    margin-left: 0px;
    background: linear-gradient(
        135deg, rgba(249,105,14,1) 0%, rgb(255,255,255) 100%
    );
}
.line4{
    width: 15px;
    height: 3px;
    margin: 5px 0;
    margin-left: 15px;
    background: linear-gradient(
        135deg, rgba(249,105,14,1) 0%, rgb(255,255,255) 100%
    );
}
.menu-icon{
    cursor: pointer;
    z-index:100;
    position: fixed;
    right: 0;
    top:0;
    background: rgba(55,55,55,0.5);
    padding: 1.2rem;
    border-radius: 0% 0% 0% 45%;

}
.menu-caption{
    display: block;
}
.menulist{
    width: 24rem;
    height: 100vh;
    background-color: #222222;
    position: fixed;
    top:0;
    right:-26rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    z-index: 99;
    transition: all 650ms ease-in-out;
    font-size: 1.3rem;
    
    
}
.menulist.active{
    right: 0;

}
.toggle {
    background: none;
  }
.menu-item{
    margin: 1.2rem 0;
    font-size: 1.3rem;
    
    text-transform: uppercase;

}
.menu-link{
    opacity:1;
    color:ivory;
    letter-spacing: 1.5px;
    
}
.menu-link:hover{
    color: rgba(249,105,14,1);
}

/* landing */
.landing-page{
    width:100%;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(0, 58, 70, 0.8) 0%, rgba(0,0,0,0.9) 100%
    ), url("images/back1.png") center no-repeat;
    background-size: cover;
    
    position: relative;

    

}
.main-message{
    width:100%;
    max-width: 58rem;
    text-transform: uppercase;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.main-message h2{
    letter-spacing: 1.2rem;
    font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 8s steps(27) infinite;
    animation-delay: 0.5s;
    margin:auto;
    align-items: center;
    position: relative;
    width: 27ch;
}
@keyframes typing {
    56.25%{
        width: 0ch;
        color: rgba(249,105,14,1);
    }
    75%{
        width:27ch;
        color: white;
    }
   
    
}
/* @keyframes blink {

    from{
        border-radius: 4px solid rgba(255,255,255,0);
    }
    to{
        border-right: 4px solid rgb(194,194,194);
        border
        
    }
    
} */
.main-message h3{
    font-size: 3vw;
    margin: 1rem 0;
    color: rgb(32, 21, 14,0);
    background: linear-gradient(
        90deg,
        rgba(249,105,14,1) 0%, rgba(102,51,153,1) 100%
    );
    -webkit-background-clip: text;
    
}
 .main-message p{
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 400;
} 
.intro-btn{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 0 9px;
    background: rgba(3,155,155);
    border-radius: 2rem;
    color: white;
    padding: 1rem 2.5rem;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color 650ms;
    font-weight: 500;
    letter-spacing: 2px;

}
.btn:hover{
    color: #fafafa;
    background-color: rgba(189,72,0);
}
.scroll-down{
    color: white;
    transition: 650ms;
    margin-top: 2rem;
    
    display: block;
    font-size: 3.5rem;
}
.scroll-down i:hover{
    transition: 650ms;
    color: rgba(249,105,14,1);
}

/* about */


.about-container{
    width:100%;
    min-height: 100vh;
    max-width: 76rem;
    margin: auto;
    display: flex;
    align-items: center;
    /* min-height: 80vh; */
    padding: 2rem;
}
@media (max-width: 750px) {
    .about-container{
        flex-direction: column;
        padding: 2rem;
    }
    
}

.about-pic img{
    height: 12rem;
    width: auto;
    border-radius: 50%;
    margin: 2rem;
    box-shadow: 0 20px 30px 0 rgba(0, 255, 255, 0.25);
}
.about-content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.about-content h1{
    font-size: 4rem;
    margin-bottom: 20px;
}
.about-content p{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    padding: 0;
    margin-bottom: 1.45rem;
}
hr{
    margin: 4rem 0;
    margin-left: auto;
    margin-right: auto;
    width: 76vw;
    max-width: inherit;
    
    
    background: linear-gradient(
        to right, rgba(249,105,14,1) 0%, rgba(102,51,153,1) 100%
    );
    border:0;
    height: 1px;
}


/* project section */
.projects{
    width:100%;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    padding: 3rem 0;

}
.project-container{
    
}

.projects h2{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
}
.projects h1{
    text-align: center;
    font-size: 2rem;
    margin: 0.5rem 0 1rem;
    background: linear-gradient( to right, rgba(249, 105, 14, 1) 0%, rgba(102, 51, 153, 1) 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects p{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.project-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.45rem 5rem 1.45rem;
    text-align: right;
}
.project-content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.45rem 5rem 1.45rem;
}

.project-content2 img{
    flex: 1;
    margin-left: 3rem;
}
.project-content img{
    flex: 1;
    margin-right: 3rem;
}
.project-text h1{
    text-align: left;
}
.project-text p{
    text-align: left;
}.project-text i{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}
@media (max-width: 750px) {
   
    .project-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
      }
      .project-content2{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
      }
      .project-content img{
          margin: auto;
      }
      .project-content2 img{
        margin: auto;
        vertical-align: top;
    }
      
    
}

/* contact section */
.contact{
    min-height: 100vh;
    width: 100%;
    max-width: 70rem;
    margin: auto;
   
    display: flex;
    justify-content: center;
    flex-direction:column;
    padding-top: 2rem;
}
.contact-title{
    padding: 1.5rem;
    margin-bottom: 3rem;
}
.contact-title h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}
.contact-title p{

    margin: 1rem 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
}
.contact-links{
   margin: auto;
   margin-top: 2rem;
   margin-bottom: 0.5rem;
   display: flex;
   font-family: "Poppins", sans-serif;
   font-size: 1.3rem;
   font-weight: 200;
   
}

.contact-links i{
   margin: auto;
   padding: 1.5rem;
   
}
.end{
    display: flex;
    flex-direction: column;
   
}
.end-links{
    margin: auto;
    display: flex;
    font-family: "Poppins";
}
.end-links a{
    
    padding: 1rem 1.5rem ;
}
.end-links i{
   margin-left: 0;
}
.end-line{
    margin: auto;
    text-align: center;
}
.end-line p{
    margin-bottom: 0.25rem;
}
.contact hr{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.end-logos{
    margin:auto;
    margin-top: 1.5rem;
    font-size: 2rem;
}
.hov:hover{
    color: rgba(249, 105, 14, 1);
    transition: color 700ms;
}
@media (max-width: 750px){
    
    .contact-links {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        
    }
    .contact-links i{
        padding: 0.75rem 1.5rem;
    }
    .contact-title{
        margin-bottom: 1rem;
    }
    .end-logos{
        margin-bottom: 2rem;
    }
}